VBox {
    -fx-spacing: 8px;
    -fx-pref-height: 100%;
}

VBox * {
    -fx-alignment: top-left;
}

HBox {
    -fx-spacing: 16px;
    -fx-alignment: center;
}

Label {
    -fx-text-fill: #1C2D45;
}

.importantLabel {
    -fx-background-color: "#123458";
    -fx-text-fill: "#E8F1F5";
    -fx-font-size: 14;
}

.masterContainer {
    -fx-padding: 6px;
    -fx-background-color: "#E8F1F5";
}

TextArea,
ListView {
    -fx-padding: 0px;
    -fx-background-color: "#D4C9BE";
    -fx-border-width: 3px;
    -fx-border-color: "#123458";
    -fx-background-insets: 0;
}

ListView {
    -fx-pref-height: 350px;
    -fx-pref-width: 500px;
}

.list-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}

Button {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-background-color: "#123458";
    -fx-text-fill: "#F1EFEC";
}

Button:hover {
    -fx-background-color: #345678;
    -fx-text-fill: black;
}

.contrastButton {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.contrastButton:hover {
    -fx-background-color: #d6e4f0;
}

.list-cell:odd {
    -fx-background-color: "#D4C9BE";
}

.list-cell:even {
    -fx-background-color: "#F1EFEC";
}

.list-cell {
    -fx-text-fill: black;
}

.list-cell:filled:selected, .list-cell:filled:selected:focused {
    -fx-background-color: #305276;   /* Blue background for selected cell */
    -fx-text-fill: white;            /* White text for contrast */
}
